
:host {
  margin-bottom: auto;
}

.list-container {
  padding-left: 16px;
}

.list-container.mobile-xdoc {
  padding-left: 8px;
}

.list-item {
  padding-bottom: 8px;
}

label {
  width: 220px;
  margin-bottom: 0;
}

label.mobile-xdoc {
  max-width: 40%;
  white-space: normal;
  padding-right: 6px;
}

span {
  text-align: left;
}