
.list-container {
  padding-left: 16px;
}

.list-item {
  padding-bottom: 8px;
}

.list-item label {
  margin-bottom: 0;
}

.list-item:not(.mobile) label {
  width: 220px;
}

.list-item.mobile label {
  width: 40%;
  white-space: normal;
  padding-right: 6px;
}

.list-item span {
  text-align: left;
}

.list-item.mobile span {
  width: 60%;
}