
<doc-content>

  <p>This website uses JWT's (JSON web tokens) to authorize certain features. Click the
    the <strong>Check Token</strong> button to run a quick diagnostic.
  </p>
  <blockquote>
      Remember me token is set to last for 2 days, and a regular token should expire in 25 minutes.
      Read more about JWT's <a target='_blank' href='https://tools.ietf.org/html/rfc7519#section-4.1.6' >here</a>. 
  </blockquote>
  <br />
  <button md-raised-button color='primary' (click)='checkToken()' >Check token</button>
  <br />
  <br />

  <div *ngIf='results' class='flex-container-column list-container' [ngClass]=mobileClass >
    <div class='flex list-item' [ngClass]=mobileClass >
      <label>Authorized:</label>
      <span>{{results?.verifyMsg}}</span>
    </div>
    <div class='flex list-item' [ngClass]=mobileClass >
      <label>Remember me checked:</label>
      <span>{{ results?.rememberMe | titlecase }}</span>
    </div>
    <div class='flex list-item' [ngClass]=mobileClass >
      <label>(IAT) Issued at:</label>
      <span>{{results?.iat}}</span>
    </div>
    <div class='flex list-item' [ngClass]=mobileClass >
      <label>(EXP) Expiration Time:</label>
      <span>{{results?.exp}}</span>
    </div>
    <div class='flex list-item' [ngClass]=mobileClass >
      <label>(SUB) Subject:</label>
      <span>{{results?.sub}}</span>
    </div>
  </div>
  
</doc-content>
