
/* ------------------ Master Styles ------------------ */
body {
  margin: 0;
  /*background-color: rgb(250, 250, 250);*/
  height: 105vh;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  color: rgb(255, 255, 230);
  font-size: 1.4em;
  font-weight: normal;
  -webkit-margin-before: 0; 
  -webkit-margin-after: 0;
  margin: 0;
  padding: 20px 0 25px 40px;
  background-color: hsl(150, 100%, 30%);
  background-image: -webkit-linear-gradient(right, hsl(150, 100%, 30%), hsl(160, 80%, 20%));
}

.header {
  color: rgb(255, 255, 230);
  -webkit-margin-before: 0; 
  -webkit-margin-after: 0;
  margin: 0;
  padding: 32px 48px 48px 48px;
  background-color: hsl(150, 100%, 30%);
  background-image: -webkit-linear-gradient(right, hsl(150, 100%, 30%), hsl(160, 80%, 20%));
}

main-app {
  width: 100%;
  height: 100%;
}

/* Loading spinner */
.loading-container {
  flex-direction: column;
  padding-top: 20px;
  color: hsl(210, 100%, 20%);
  align-content: center;
}

.loading-container h1 {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 0 auto;
  border: 16px solid hsl(60, 55%, 90%); /* Light grey */
  border-top: 16px solid rgb(0, 204, 102); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Loading spinner */

/* START general flex classes */
div.flex-container-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

div.flex-container-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

.flex-just-cen {
  -webkit-justify-content: center;
  justify-content: center;
}

div.flex-expand-full {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
/* END general flex classes */

/* ------------------ Layout styles ------------------ */
/* START title bar */
.title-bar {
  background-color: hsl(150, 100%, 30%);
  background-image: -webkit-linear-gradient(right, hsl(160, 80%, 20%), hsl(150, 100%, 30%));
  /*background-image: -webkit-linear-gradient(right, hsl(120, 100%, 25%), hsl(150, 100%, 30%));*/
  /*box-shadow: 0px 1px 2px #006600;*/
  border-bottom: 5px solid hsl(210, 100%, 20%);
}

a.title {
  margin: 16px 0 16px 16px;
  padding: 0 10px 0 0;
  width: auto;

  /* border styles */
  border-style: solid;
  border-color: hsl(60, 55%, 90%);
  border-width: 0 10px 4px 0;
  border-radius: 3px;
  box-shadow: 3px 3px hsl(180, 100%, 10%);

  /* font styles */
  line-height: 28px;
  color: hsl(60, 55%, 90%);
  text-shadow: 3px 3px hsl(180, 100%, 10%);
}

a.title:hover, a.title:focus {
  text-decoration: none;
}

a.title * {
  font-family: 'Rubik Mono One' !important;
  color: hsl(60, 55%, 90%);
  text-shadow: 3px 3px hsl(180, 100%, 10%);
}

a.title > span {
  font-size: 20px;
}

span.title-end {
  font-size: 24px;
  /*font-size: 30px;*/
}
/* END title bar */

.below-title {
  height: 100%;
}

/* START side-nav */
md-sidenav-container {
  height: 100%;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}

.side-nav-closer {
  height: 100%;
  padding: 0 3px 0 3px;
  display: inline-block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, hsl(60, 20%, 95%), hsl(60, 55%, 90%));
  border-right: 3px solid;
  border-color: hsl(150, 100%, 30%);
}

.side-nav-closer > button {
  margin-top: 2px;
  height: 24px;
  width: 24px;
  background-color: darkgrey;
  border-radius: 2px;
}

.side-nav-closer > button > span > md-icon {
  padding: 1px 0 1px 0 !important;
}
/* END side-nav */

/* START main app flex css */
div.side-bar-wrapper {
  -webkit-flex: 0 0 0;
  flex: 0 0 0;
  display: -webkit-flex;
  display: flex;
}

div.main-outlet-wrapper {
  width: 100%;
  display: inline-block;
  justify-content: center;
}
/* END main app flex css */

div.content {
  width: 100%;
  height: 100%;
}

.on-grey {
  background-color: whitesmoke;
  border-color: darkgray;
}

/* ------------------ Navigation link styles ------------------ */

/* ------------------ items class ------------------ */
code {
  background-color: #ecf2f9;
  color: hsl(210, 100%, 20%);
}

.wide {
  width: 100%;
}

.panel {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.panel-heading > h3 {
  color: hsl(210, 100%, 20%) !important;
  font-weight: bold;
}

/* ------------------ everywhere else ------------------ */
/** {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}*/

h1, h2, h3, h4, h4, h6 {
  -webkit-font-smoothing: antialiased;
}

/* ------------------ angular material themes ------------------ */
/* TODO: FIX THIS AND REMOVE FROM INDEX */
@import url('stylesheets/green-deepteal.css');


/* Below are some good styles but I went a different direction */

/*
input[type='text'] {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(166, 166, 166);
  */
  /*
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  */
  /*
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0666667) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  font-size: 13px;
  height: 31px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  outline-color: rgb(17, 17, 17);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 3px 7px 3px 7px;
  text-align: start;
  text-indent: 5px;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: linear;
  user-select: text;
  vertical-align: middle;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
}
*/