
<div [ngClass]=docClass >

  <p>
    Test the built-in Angular title service. Enter a new title for this page below. You can either use your
    your browser dom explorer to see that the title tag was changed, or the text in the browser tab should change.
  </p>
  <blockquote>
    <small>
      The title service is needed because Angular applications are single page applications. To get the title to reflect
      the state of the application you have to update the DOM element each time you want to simulate this effect.
    </small>
  </blockquote>
  <br />
  <md-input-container class='third' >
    <input mdInput placeholder='Title text' [(ngModel)]='model.title' name='title' >
  </md-input-container><br />
  <button md-raised-button color='primary' (click)='updateTitle()' >Update title</button>

</div>