
.banner-mobile {
  padding: 12px 12px;
  background-color: rgba(236, 239, 241, 0.25);
  border: rgb(236, 239, 241);
  border-width: 0  0 1px 0;
  border-style: solid;
}

.banner-mobile, .banner-mobile > span {
  font-size: 14px;
  font-weight: 200;
}

.doc-content-mobile {
  font-size: 12px;
  padding: 16px;
  max-width: 1450px;
}

.doc-content-mobile blockquote {
  font-size: 11px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-left-color: #adebad;
  background-color: rgba(236, 239, 241, 0.25);
}

.doc-content-mobile p {
  line-height: 22px;
  margin-bottom: 8px;
}

.doc-content-mobile h1 {
  font-size: 20px;
}

.doc-content-mobile h1, h2 {
  margin: 14px 0 6px 0;
}

.doc-content-mobile h3, h4, h4, h6 {
  margin: 10px 0 4px 0;
}

.doc-content-mobile h1, h2, h3, h4, h4, h6, .banner {
  color: hsl(210, 100%, 20%);
}

.doc-content-mobile h1, h2, h3, h4, h4, h6, p, span, label, blockquote, a {
  -webkit-font-smoothing: antialiased;
}

.doc-content-mobile h2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 0;
}

.doc-content-mobile h3 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  /*color: hsl(210, 100%, 20%) !important;*/
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 0;
}

a.mobile {
  text-align: left;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0 0 6px;
  margin: 0;
}

a.mobile md-icon {
  font-size: 20px;
}

.drop-cap {
  font-size: 16px;
  color: hsl(160, 80%, 20%);
}

.doc-content-mobile ul {
  -webkit-padding-start: 25px;
}

.doc-content-mobile ul.toc {
  list-style-type: disc;
  color: hsl(210, 100%, 20%);
}

.doc-content-mobile ul > li {
  line-height: 22px;
}

.doc-content-mobile ul.toc > li > a {
  font-size: 16px;
  line-height: 28px;
  padding-left: 6px;
}

.doc-content-mobile .sections {
  padding-left: 6px;
}