
:host {
  display: block;
  margin: auto;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 25px;
}

form {
  background-color: white;
  padding: 10px 25px 16px 25px;
}

.mat-checkbox {
  display: flex;
  align-content: center;
  align-items: center;
  height: 36px;
  margin: 0 10px 15px 10px;
}

button.wide {
  display: block;
}

div.question-redir {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
}

div.question-redir span {
  font-size: 14px;
}

div.question-redir a {
  min-width: 60px;
  padding: 0 8px;
  margin-left: 5px;
}

md-input-container {
  margin-bottom: 8px;
}

md-error, p.error {
  color: darkred;
}

p.error{
  font-size: 14px;
  margin-top: 0;
  padding-left: 8px;
  word-wrap: normal;
}
