
<tab-content-container [description]='description' >
  <pane [title]='panes.genInfo.title' [editable]='panes.genInfo.isEditable' >
    <div>
      <div>
        Yo Mama 1
      </div>
      <div>
        Yo Mama 2
      </div>
      <div>
        Yo Mama 3
      </div>
      <div>
        Yo Mama 4
      </div>
    </div>
  </pane>

  <!--<div class='banner' >
    <p>General Information</p>
  </div>-->

  <!--<div class='below-banner'  >
    <md-toolbar color='accent' >
      <span>General Information</span>
    </md-toolbar>
  </div>-->
  
</tab-content-container>