
<tab-content-container [description]='description' >

  <div class='toolbar-panel' >

    <md-toolbar color='primary'>
        <span>General Information</span>
        <span class='toolbar-row-spacer'></span>
        <button md-mini-fab class='toolbar-row-icon-button' (click)='genInfoEdit()' ><md-icon>edit</md-icon></button>
    </md-toolbar>

    <div *ngIf='genInfoShow' class='toolbar-content' >
      <div>
        <p><strong>There is nothing here yet.</strong></p>
        <p><small>Testing a different panel style!</small></p>
        <p><small>Testing a different panel style!</small></p>
      </div>
    </div>

  </div>

  <div class='panel panel-default gen-info' >
    <h4>
      General Infomation
      <button md-mini-fab class='panel-btn panel-btn-edit' (click)='genInfoEdit2()' ><md-icon>edit</md-icon></button>
    </h4>
    <div class='panel-body' >
      <p><strong>There is nothing here yet.</strong></p>
      <label>Selected Option:</label>{{selectedOption}}
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
    </div>
  </div>

  <div class='panel panel-default' >
    <div class='panel-heading' >
      <h3 class='panel-title' >Password Management</h3>
    </div>
    <div class='panel-body' >

      <p><strong>There is nothing here yet.</strong></p>

      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>
      <p><small>Testing a different panel style!</small></p>

    </div>
  </div>
  
</tab-content-container>