
.gen-info {
  max-width: 800px;
  padding: 0 12px 12px 12px;
}

.panel-btn-edit {
  float: right;
  /*margin-right: 5px;*/
  /*margin-top: 5px;*/
}

.toolbar-panel {
  margin-bottom: 24px;
}

.toolbar-content {
  padding: 18px 8px;
}

.toolbar-row-icon-button {
  margin-right: 14px;
}

.toolbar-row-spacer {
  flex: 1 1 auto;
}