
<div class='admin-container' >
  
    <nav md-tab-nav-bar>
      <a md-tab-link
          *ngFor='let link of navLinks'
          [routerLink]='link.href'
          routerLinkActive
          #rla='routerLinkActive'
          [active]='rla.isActive' >
        {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>

    <!--<md-tab-group dynamicHeight=true >
      <md-tab label="Account">
        <account></account>
      </md-tab>
      <md-tab label="Users">
        <users></users>
      </md-tab>
    </md-tab-group>-->
  
</div>