
<div class='content-wrapper'>
  <div class='form-container' >
    <div class='form-title'>Sign in</div>
    <form (ngSubmit)='onSubmit()' #signInForm='ngForm' >

      <md-input-container class='wide' >
        <input mdInput placeholder='Email'
            [(ngModel)]='model.email' 
            name='email'
            required
            #email='ngModel' >
      </md-input-container>

      <md-input-container class='wide' >
        <input mdInput placeholder='Password'
            type='password'
            [(ngModel)]='model.password' 
            name='password'
            required
            #password='ngModel'>
      </md-input-container>
      
      <md-checkbox class='mat-checkbox' [(ngModel)]='model.rememberMe' name='rememberMe' >Remember me</md-checkbox>

      <pre *ngIf='serverMsg' class='error'>{{serverMsg}}</pre>

      <button md-raised-button color='primary' class='wide' >Sign in</button>

      <div class='question-redir' >
        <span>Don't have a username and password?</span>
        <a md-button color='accent' routerLink="/signup" >Sign up now.</a>
      </div>

      <div id='progressBarTest' ></div>

      <!-- remove this when done -->
      <!--<p style='max-width:400px; overflow:auto;'>{{diagnostic}}</p>-->
    
    </form>
  </div>
</div>