
<div class='panel panel-default' >
  <div class='panel-heading' >
    <h3 class='panel-title' >Sign in</h3>
  </div>
  <div class='panel-body' >

    <form (ngSubmit)='onSubmit()' #signInForm='ngForm' >

      <md-input-container class='wide' [ngSwitch]='emailVal' >
        <input mdInput placeholder='Email'
          type='email'
          [(ngModel)]='model.email' 
          name='email'
          required
          pattern='emailRegex'
          #email='ngModel' >
        <md-error *ngSwitchCase='"required"' >This is a required field</md-error>
        <md-error *ngSwitchCase='"email"' >Must be a valid email address</md-error>
      </md-input-container>

      <md-input-container class='wide' [ngSwitch]='passwordVal' >
        <input mdInput placeholder='Password'
          type='password'
          [(ngModel)]='model.password' 
          name='password'
          required
          minlength='7'
          #password='ngModel'>
        <md-error *ngSwitchCase='"required"' >This is a required field</md-error>
        <md-error *ngSwitchCase='"length"' >Must have at least 7 characters</md-error>
      </md-input-container>
      
      <md-checkbox class='mat-checkbox' [(ngModel)]='model.rememberMe' name='rememberMe' >Remember me</md-checkbox>

      <p *ngIf='serverMsg' class='error'>{{serverMsg}}</p>

      <button md-raised-button type='submit' color='primary' class='wide' >Sign in</button>

      <div class='question-redir' >
        <span>Don't have a username and password?</span>
        <a md-button color='accent' routerLink='/signup' >Sign up now.</a>
      </div>

    </form>

  </div>
</div>