<!DOCTYPE html>
<html>
  <head>
    <base href=''/>
    <!-- used for aot compile -->
    <!-- <script>window.module = 'aot';</script> -->
    
    <title><%= titleStart + titleEnd %></title>
    <meta charset='UTF-8' >
    <meta name='viewport' content='width=device-width, initial-scale=1' >
    <link href='styles.css' rel='stylesheet' >

    <!-- might be able to get these a different way -->
    <link href='//fonts.googleapis.com/css?family=Rubik Mono One' rel='stylesheet' >
    <!--<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">-->
    <link href="stylesheets/green-deepteal.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' >

    <!-- Polyfills -->
    <script src='https://unpkg.com/core-js/client/shim.min.js' ></script>

    <script src='https://unpkg.com/zone.js@0.7.4?main=browser' ></script>
    <script src='https://unpkg.com/systemjs@0.19.39/dist/system.src.js' ></script>

    <!-- non-material control sources -->
    <!--
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://bootsnipp.com/dist/scripts.min.js"></script>




    -->

    <script src='systemjs.config.js' ></script>

    <script>
      // window.onload = function () {
      //   document.addEventListener('DOMNodeRemoved', function(e) {
      //       console.log(e);
      //   });
      // };
      System.import('main.ts').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body class='mat-app-background' >
    <main-app>
      <!-- This gets replaced by the app -->
      <div id='loadingContainer' class='loading-container' >
        <h1>Loading...</h1>
        <div class="spinner"></div>
      </div>
    </main-app>
  </body>
  
</html>