<div class='content'>

  <div class='flex-container-row'>
    <div *ngIf='!user' class='side'></div>
    <div class='main'>
        <!-- Header -->
      <div class='header'><h1>{{ header | uppercase }}</h1></div>
        <!-- Banner -->
      <div class='banner' ><span [innerHTML]='banner'></span><md-icon class='sunny' >wb_sunny_48</md-icon></div>
      <div class='doc-content'>

        <!-- Introduction -->
        <p *ngFor='let p of intros' [innerHTML]='p' ></p>

        <h2>Overview</h2>
        <p *ngFor='let p of overviews' [innerHTML]='p' ></p>
        <!-- Disclaimer 1 -->
        <blockquote *ngIf='disclaimers?.intro' [innerHTML]='disclaimers?.intro' ></blockquote>

        <!-- table of contents -->
        <a id='toc' class='anchor' ></a>
        <h1>Contents</h1>
        <md-divider></md-divider>
        <ul class='toc' >
          <li *ngFor='let section of sections' >
            <a md-button color='accent' href='#{{section.ref}}' >{{section.title}}</a>
          </li>
        </ul>

        <!-- sections -->
        <!-- TODO: make section a component -->
        <div *ngFor='let section of sections' >
          <a id='{{section.ref}}'></a>
          <h2>{{section.title}}</h2>
          <!--<p>{{section.description}}</p>-->
          <div [ngSwitch]='section.ref'>

            <!-- Site -->
            <div *ngSwitchCase='"site"' >
              <!-- Site start -->
              <p *ngFor='let p of siteStart' [innerHTML]='p'></p>

              <!-- Site details -->
              <!-- TODO: make show/hide button and target a component -->
              <button md-button #siteListToggleBtn id='siteListToggleBtn' color='primary' (click)='showDetails(siteListToggleBtn)'
                data-toggle='collapse' data-target='#siteList' aria-expanded='true' aria-controls='siteList' toggle='false' >
                {{ siteToggle ? 'Hide details' : 'Show details' }}
                <md-icon *ngIf='!siteToggle' >add_circle</md-icon>
                <md-icon *ngIf='siteToggle' >remove_circle</md-icon>
              </button><br />
              <div class='collapse in' id='siteList'>
                <br />
                <ul>
                  <li>Server</li>
                  <ul >
                    <li *ngFor='let bullet of serverBullets' [innerHTML]='bullet' ></li>
                  </ul>
                  <li>Database</li>
                  <ul >
                    <li *ngFor='let bullet of dbBullets' [innerHTML]='bullet' ></li>
                  </ul>
                  <li>Client</li>
                  <ul >
                    <li *ngFor='let bullet of clientBullets' [innerHTML]='bullet' ></li>
                  </ul>
                  <li>Development Environment</li>
                  <ul >
                    <li *ngFor='let bullet of deBullets' [innerHTML]='bullet' ></li>
                  </ul>
                </ul>
                <br />
                <!-- Site end 1 -->
                <p *ngIf='siteEnd?.length > 0' [innerHTML]='siteEnd[0]'></p>
                <!-- Disclaimer 2 -->
                <blockquote *ngIf='disclaimers?.site' [innerHTML]='disclaimers?.site' ></blockquote>
                <!-- Site end 2 -->
                <!--<p *ngIf='siteEnd?.length > 1' [innerHTML]='siteEnd[1]'></p>-->
              </div>
            </div>

            <!-- Experience -->
            <div *ngSwitchCase='"experience"' >

              <!-- Experience details -->
              <!-- TODO: make show/hide button and target a component -->
              <button md-button #expListToggleBtn id='expListToggleBtn' color='primary' (click)='showDetails(expListToggleBtn)'
                data-toggle='collapse' data-target='#expList' aria-expanded='true' aria-controls='siteList' toggle='false' >
                {{ expToggle ? 'Hide details' : 'Show details' }}
                <md-icon *ngIf='!expToggle' >add_circle</md-icon>
                <md-icon *ngIf='expToggle' >remove_circle</md-icon>
              </button><br />
              <div class='collapse in' id='expList'>

              </div>
              
            </div>

            <!-- Skills -->
            <div *ngSwitchCase='"skills"' >
              <p *ngIf='skills?.first' [innerHTML]='skills?.first' ></p>

              <!-- Skills details -->
              <!-- TODO: make show/hide button and target a component -->
              <button md-button #skillListToggleBtn id='skillListToggleBtn' color='primary' (click)='showDetails(skillListToggleBtn)'
                data-toggle='collapse' data-target='#skillList' aria-expanded='true' aria-controls='siteList' toggle='false' >
                {{ skillToggle ? 'Hide details' : 'Show details' }}
                <md-icon *ngIf='!skillToggle' >add_circle</md-icon>
                <md-icon *ngIf='skillToggle' >remove_circle</md-icon>
              </button><br />
              <div class='collapse in' id='skillsList'>
                <br />
                <ul>
                  <li><strong>Object-oriented languages</strong></li>
                  <ul>
                    <li>
                      C#, Java, C/C++ STL
                    </li>
                  </ul>
                  <li><strong>Scripting</strong></li>
                  <ul>
                    <li>
                      JavaScript, TypeScript, JQuery
                    </li>
                  </ul>
                  <li><strong>Database</strong></li>
                  <ul>
                    <li>
                      Microsoft SQL Server, MongoDB, MySQL
                    </li>
                  </ul>
                  <li><strong>Templating Engines</strong></li>
                  <ul>
                    <li>
                      Razor, ASP.NET, nVelocity, ASP Classic
                    </li>
                  </ul>
                  <li><strong>Miscellaneous</strong></li>
                  <ul>
                    <li>HTML/HTML5, CSS/CSS3, XML, JSON</li>
                    <li>MVC 5, MEAN, Castle Monorail, LAMP, Angular, Node.js</li>
                    <li>Entity Framework, Telerik</li>
                    <li>RESTful web services, WCF, AJAX, XHR</li>
                    <li>Windows Forms, Android, Java Foundation Classes</li>
                    <li>Git, GitHub, Team Foundation Services, Subversion, Tortoise SVN, SourceGear Vault</li>
                    <li>IIS, Azure, Apache, NGINX</li>
                    <li>Windows, Linux, bash, power shell</li>
                    <li>Visual Studio, Eclipse, Visual Studio Code, SQL Sever Management Studio</li>
                  </ul>
                </ul>
                <p *ngIf='skills?.second' [innerHTML]='skills?.second' ></p>
                <ul>
                  <li><strong>Old friends</strong></li>
                  <ul>
                    <li>
                      VBScript, JScript, PHP, Perl
                    </li>
                  </ul>
                </ul>
              </div>
            </div>

          </div>
          <a md-button color='accent' href='#toc'  >Back to top</a>
        </div>

      </div>
    </div>
    <div *ngIf='!user' class='side'></div>
  </div>
</div>