
.side {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 5%;
  flex: 1 0 5%;

  background-color: white;
}

.main {
  display: block;
  -webkit-flex: 1 0 90%;
  flex: 1 0 90%;

  border: rgb(236, 239, 241);
  border-width: 0 1px;
  border-style: solid;
}

.banner {
  padding: 36px 48px;
  background-color: rgba(236, 239, 241, 0.25);
  border: rgb(236, 239, 241);
  border-width: 0  0 1px 0;
  border-style: solid;
}

.banner, .banner > * {
  font-size: 18px;
  font-weight: 200;
}

.sunny {
  color: orange;
}

blockquote {
  font-size: 15px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 24px;
  border-left-color: #adebad;
  background-color: rgba(236, 239, 241, 0.25);
}

.doc-content {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding: 36px 58px;
  max-width: 1300px;
}

.doc-content p {
  line-height: 28px;
  margin-bottom: 20px;
}

.doc-content h1 {
  font-size: 36px;
}

.doc-content h1, h2, h3, h4, h4, h6, .banner {
  color: hsl(210, 100%, 20%);
}

.doc-content h1, h2 {
  margin: 48px 0 16px 0;
}

.doc-content h3, h4, h4, h6 {
  margin: 24px 0 8px 0;
}

.doc-content h2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-size: 24px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  padding: 0;
}

.doc-content h3 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  /*color: hsl(210, 100%, 20%) !important;*/
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  padding: 0;
}

.drop-cap {
  font-size: 20px;
  color: hsl(160, 80%, 20%);
}

ul.toc {
  list-style-type: disc;
  color: hsl(210, 100%, 20%);
}

ul > li {
  line-height: 28px;
}

ul.toc > li > a {
  font-size: 20px;
  line-height: 32px;
}

.sections {
  padding-left: 14px;
}