
<div class='content' [ngClass]=signedInClasses >
  <!-- Header -->
  <div class='header'><h1>{{ header | uppercase }}</h1></div>
    <!-- Banner -->
  <div class='banner' ><span [innerHTML]='banner'></span><md-icon class='sunny spin' >wb_sunny_48</md-icon></div>
  <div class='doc-content'>

    <!-- Introduction -->
    <p *ngFor='let p of intros' [innerHTML]='p' ></p>

    <h2>Overview</h2>
    <p *ngFor='let p of overviews' [innerHTML]='p' ></p>
    <!-- Disclaimer 1 -->
    <blockquote *ngIf='disclaimers?.intro' [innerHTML]='disclaimers?.intro' ></blockquote>

    <!-- table of contents -->
    <a id='toc' class='anchor' ></a>
    <h1>Contents</h1>
    <ul class='toc' >
      <li *ngFor='let section of sections' >
        <a md-button color='accent' href='#{{section.ref}}' >{{section.title}}</a>
      </li>
    </ul>

    <div class='sections' >

      <!-- sections -->
      <!-- TODO: make section a component -->
      <div *ngFor='let section of sections' >
        <a id='{{section.ref}}'></a>
        <h2>{{section.title}}</h2>
        <!--<p>{{section.description}}</p>-->
        <div [ngSwitch]='section.ref'>

          <!-- Site -->
          <div *ngSwitchCase='"site"' >
            <!-- Site start -->
            <p *ngFor='let p of siteStart' [innerHTML]='p'></p>
            <!-- Site details -->
            <collapsible-button [expand]='true' [showIcon]='true' >
              <ul>
                <li>Server</li>
                <ul >
                  <li *ngFor='let bullet of serverBullets' [innerHTML]='bullet' ></li>
                </ul>
                <li>Database</li>
                <ul >
                  <li *ngFor='let bullet of dbBullets' [innerHTML]='bullet' ></li>
                </ul>
                <li>Client</li>
                <ul >
                  <li *ngFor='let bullet of clientBullets' [innerHTML]='bullet' ></li>
                </ul>
                <li>Development Environment</li>
                <ul >
                  <li *ngFor='let bullet of deBullets' [innerHTML]='bullet' ></li>
                </ul>
              </ul>
              <br />
              <!-- Site end 1 -->
              <p *ngIf='siteEnd?.length > 0' [innerHTML]='siteEnd[0]'></p>
              <!-- Disclaimer 2 -->
              <blockquote *ngIf='disclaimers?.site' [innerHTML]='disclaimers?.site' ></blockquote>
              <!-- Site end 2 -->
              <!--<p *ngIf='siteEnd?.length > 1' [innerHTML]='siteEnd[1]'></p>-->
            </collapsible-button>
          </div>

          <!-- Experience -->
          <div *ngSwitchCase='"experience"' >
            <!-- Experience start -->
            <p *ngFor='let p of expStart' [innerHTML]='p'></p>
            <!-- Experience details -->
            <collapsible-button [expand]='true' [showIcon]='true' [breakBeforeTarget]=false >
              <div *ngFor='let exp of experience' >
                <h3>{{exp.title}}</h3>
                <label>{{exp.description}}</label>
                <ul>
                  <li *ngFor='let bullet of exp.bullets' >{{bullet}}</li>
                </ul>
              </div>
            </collapsible-button>
          </div>

          <!--Skills -->
          <div *ngSwitchCase='"skills"' >
            <!-- Skills start -->
            <p *ngIf='skills?.first' [innerHTML]='skills?.first' ></p>
            <!-- Skills details -->
            <collapsible-button [expand]='true' [showIcon]='true' >
              <ul>
                <li><strong>Object-oriented languages</strong></li>
                <ul>
                  <li>
                    C#, Java, C/C++ STL
                  </li>
                </ul>
                <li><strong>Scripting languages</strong></li>
                <ul>
                  <li>
                    JavaScript, TypeScript, Node.js, ECMAScript 2015 (ES2015), JQuery
                  </li>
                </ul>
                <li><strong>Database</strong></li>
                <ul>
                  <li>
                    Microsoft SQL Server, MongoDB, MySQL
                  </li>
                </ul>
                <li><strong>Frontend Application Frameworks</strong></li>
                <ul>
                  <li>
                    Angular, ASP.NET MVC 4/5 , ASP.NET, ASP Classic, Castle Monorail
                  </li>
                </ul>
                <li><strong>Miscellaneous</strong></li>
                <ul>
                  <li>HTML/HTML5, CSS/CSS3, XML, JSON</li>
                  <li>.NET, MEAN, LAMP</li>
                  <li>Razor, nVelocity, EJS, JADE</li>
                  <li>Entity Framework, nHibernate</li>
                  <li>ArcGIS, Telerik, Bootstrap, ReactiveX, lodash</li>
                  <li>RESTful web services, WCF, AJAX, XHR</li>
                  <li>Windows Forms, Android, Java Foundation Classes</li>
                  <li>Git, Team Foundation Services, Subversion, Tortoise SVN, SourceGear Vault, GitHub</li>
                  <li>IIS, Azure, Apache, Nginx</li>
                  <li>Windows, Linux, Bash, PowerShell</li>
                  <li>Visual Studio, Eclipse, Visual Studio Code, SQL Sever Management Studio</li>
                </ul>
              </ul>
              <p *ngIf='skills?.second' [innerHTML]='skills?.second' ></p>
              <ul>
                <li><strong>Old friends</strong></li>
                <ul>
                  <li>
                    VBScript, JScript, PHP, Perl
                  </li>
                </ul>
              </ul>
            </collapsible-button>
          </div>

        </div>
        <a md-button color='accent' href='#toc'  >Back to top</a>

      </div>

    </div>
    
  </div>
</div>