

<!-- title bar -->
<div class='flex-container-row title-bar' >
  <!--<div *ngIf='titleStart && titleEnd; then thenBlock else elseBlock' class='title' href='/home' >
    <template #thenBlock>
      <span>{{titleStart}}</span>
      <span class='title-end' >{{titleEnd}}</span>
    </template>
    <template #elseBlock>
      <span>{{title}}</span>
    </template>
  </div>-->
  <div class='flex title-wrapper' >
    <a md-button routerLink='/' disableRipple class='title' >{{titleStart}}<span class='title-end'>{{titleEnd}}</span></a>
  </div>
  <div class='flex-expand-full' >
    <title-bar-button-group class='flex' ></title-bar-button-group>
  </div>
</div>
<!-- mat-app-background is used for angular material theme (TODO: test this) -->
<div class='flex-container-row' >
    <md-sidenav-container class='example-sidenav-fab-container'>
      <md-sidenav #sidenav mode='side' opened='true'>
        <button md-mini-fab class='example-fab' (click)='sidenav.toggle()'>
          <md-icon>add</md-icon>
        </button>
        <div class='side-bar-wrapper' >
          <side-bar *ngIf='isSignedIn' ></side-bar>
        </div>
      </md-sidenav>
      <button md-mini-fab class='example-fab' (click)='sidenav.toggle()'>
        <md-icon>add</md-icon>
      </button>
    </md-sidenav-container>
    <div class='main-outlet-wrapper flex' >
      <router-outlet></router-outlet>
    </div>
</div>
