
:host {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.below-title {
  display: flex;
  flex: auto;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

div.scrollable-y {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*overflow-x: auto;*/
  overflow-y: auto;
}

div.side-bar-wrapper {
  -webkit-flex: 0 0 0;
  flex: 0 0 0;
  display: -webkit-flex;
  display: flex;
}

div.main-outlet-wrapper {
  /*flex-grow: 1;
  display: block;*/
  width: 100%;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  
  background-color: hsl(60, 55%, 90%);

  overflow-y: auto;
}

/* START side-nav */
/*md-sidenav-container {
  height: 100%;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}

.side-nav-closer {
  height: 100%;
  padding: 0 3px 0 3px;
  display: inline-block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, hsl(60, 20%, 95%), hsl(60, 55%, 90%));
  border-right: 3px solid;
  border-color: hsl(150, 100%, 30%);
}

.side-nav-closer > button {
  margin-top: 2px;
  height: 24px;
  width: 24px;
  background-color: darkgrey;
  border-radius: 2px;
}

.side-nav-closer > button > span > md-icon {
  padding: 1px 0 1px 0 !important;
}*/
/* END side-nav */