
:host {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.below-title-wrapper {
  display: flex;
  flex: auto;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
}

.below-title-container {
  position: relative;
  width: 100%;
  display: block;

  box-sizing: border-box;
  -webkit-box-direction: normal;

  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: block;
  visibility: hidden;
  -webkit-box-direction: normal;

  z-index: 2;
}

.main-content {
  position: absolute;
  height: 100%;
  display: block;
  left: 0px;
  right: 0px;

  margin-left: 245px;
  margin-right: 0px;

  -webkit-box-direction: normal;
  
  overflow-x: auto;
  overflow-y: auto;

  background-color: rgb(250, 250, 250);
}

.signed-in {
  margin-left: 0px !important;
  background-color: hsl(60, 55%, 90%);
}

.main-outlet-wrapper {
  min-height: 100%;
  display: flex;

  flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

/* START side-nav */
/*md-sidenav-container {
  height: 100%;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
}

.side-nav-closer {
  height: 100%;
  padding: 0 3px 0 3px;
  display: inline-block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, hsl(60, 20%, 95%), hsl(60, 55%, 90%));
  border-right: 3px solid;
  border-color: hsl(150, 90%, 30%);
}

.side-nav-closer > button {
  margin-top: 2px;
  height: 24px;
  width: 24px;
  background-color: darkgrey;
  border-radius: 2px;
}

.side-nav-closer > button > span > md-icon {
  padding: 1px 0 1px 0 !important;
}*/
/* END side-nav */