
<title-bar [titleStart]=titleStart [titleEnd]=titleEnd [isSignedIn]='isSignedIn' ></title-bar>
<div class='below-title-wrapper' >
  <div class='below-title-container'>
    <div class='backdrop' ></div>
    <!-- TODO: animate this again -->
    <side-bar *ngIf='isSignedIn' ></side-bar>
    <div class='main-content' [ngClass]=signedInClasses >
      <div class='main-outlet-wrapper'>
        <router-outlet></router-outlet>
        <app-footer [isSignedIn]='isSignedIn' ></app-footer>
      </div>
    </div>
  </div>
</div>
