
<title-bar [titleStart]=titleStart [titleEnd]=titleEnd [isSignedIn]=isSignedIn [isMobile]=isMobile ></title-bar>

<div class='below-title-wrapper' >
  <md-sidenav-container class='below-title-sidenav' >

    <md-sidenav #sidenav opened=false class='sidenav-container' >
      <side-bar [isSignedIn]=isSignedIn [isMobile]=isMobile ></side-bar>
    </md-sidenav>

    <div class='main-outlet' [ngClass]=signedInClasses >

      <content-container>
        <router-outlet></router-outlet>
      </content-container>
      
      <div class='spacer'></div>

      <app-footer [isSignedIn]=isSignedIn ></app-footer>
    </div>

  </md-sidenav-container>
</div>

<!--<div class='below-title-wrapper' >
  <md-sidenav-container class='below-title-container' >

    <md-sidenav #sidenav opened=false class='sidenav-container' >
      <side-bar [isSignedIn]=isSignedIn [isMobile]=isMobile ></side-bar>
    </md-sidenav>

    <div class='main-content'>
      <div class='main-outlet-wrapper' [ngClass]=signedInClasses >

        <content-container>
          <router-outlet></router-outlet>
        </content-container>

        <app-footer [isSignedIn]=isSignedIn ></app-footer>
      </div>
    </div>

  </md-sidenav-container>
</div>-->

