
:host {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.below-title-wrapper {
  display: flex;
  flex: auto;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
}

.below-title-sidenav  {
  width: 100%;
}

.sidenav-container {
  overflow-x: auto;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.239216) 3px 0px 6px 0px;
}

.main-content {
  position: absolute;
  height: 100%;
  display: block;
  left: 0px;
  right: 0px;
}

.main-outlet {
  min-height: 100%;
  display: flex;

  flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.spacer {
  min-height: 25px;
  flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
}

/* TODO: this is a bad solution */
.spacer:not(.not-signed-in) {
  background-color: rgb(250, 250, 250);
}