
.controls:not(.mobile) {
  font-size: 14px;
  padding: 12px 24px 0 12px;
}

.indent {
  padding-left: 16px;
}

.indent.third.mobile {
  padding: 0;
  width: 90%;
}

md-checkbox {
  margin-left: 24px;
}

label {
  width: 100px;
  margin-bottom: 0;
}