<div class='content'>
  <div class='header'><h1>{{ header | uppercase }}</h1></div>
  <div class='banner'><span>Welcome, <strong><mark>{{ user?.firstName }}</mark></strong>.</span></div>
  <div class='doc-content' >
    <p>This is the dashboard - the page you see when you first sign in.
      Things that the user should see straight away would go here. There is nothing here now, really. How about two pretty pictures.
    </p>
    <blockquote>
      <!--<small>-->
        You can also check out this cool button that integrates <a target='_blank' href='http://getbootstrap.com/javascript/' >Bootstrap.js</a>
        with an <a target='_blank' href='https://angular.io/docs/ts/latest/guide/component-styles.html' >Angular</a> component. Go to the
        <a routerLink='/test-animation' >animation test</a> to see these pictures do
        a little more.
      <!--</small>-->
    </blockquote>
    <collapsible-button [expand]=true [showIcon]=true [expandText]='"Show pictures"' [collapseText]='"Hide pitures"' color=accent  >
      <div class='flex-container-row flex-start img-container' >
        <img class='collapsible-img' src='images/VerticalBanners_High01.jpg' mdTooltip='These images are from The Witness!' [mdTooltipPosition]='"above"' />
        <img class='collapsible-img' src='images/VerticalBanners_High13.jpg' mdTooltip='These images are from The Witness!' [mdTooltipPosition]='"above"' />
      </div>
    </collapsible-button>
  </div>
</div>