
<div *ngIf='!isMobile' class='title-bar-wrapper' >
  <div class='title-wrapper' >
    <button md-button (click)='titleClick()' disableRipple class='title not-mobile' >{{titleStart}}<span class='title-end'>{{titleEnd}}</span></button>
  </div>
  <div class='flex-start nav-container' >
    <a *ngFor='let link of navLinks' md-button routerLink='{{link.href}}' class='nav' >{{link.text}}</a>
  </div>
  <title-bar-button-group class='flex-end pad-right' [isMobile]=isMobile ></title-bar-button-group>
</div>

<div *ngIf='isMobile' >
  <div class='title-bar-wrapper' >
    <button *ngIf='isMobile' md-icon-button class='menu' (click)='showSidenavClick()' ><md-icon>menu</md-icon></button>
    <div [ngClass]='notMobileTitle' >
      <button md-button (click)='titleClick()' disableRipple class='title mobile' >{{titleStart}}<span class='title-end-mobile'>{{titleEnd}}</span></button>
    </div>
    <title-bar-button-group class='flex-end' [isMobile]=isMobile ></title-bar-button-group>
  </div>
</div>