
<div class='flex-container-row' >
  <div class='title-wrapper' >
    <!--<button md-button routerLink='/' disableRipple class='title' >{{titleStart}}<span class='title-end'>{{titleEnd}}</span></button>-->
    <button md-button (click)='titleClick()' disableRipple class='title' >{{titleStart}}<span class='title-end'>{{titleEnd}}</span></button>
  </div>
  <div class='nav-container' >
    <a *ngFor='let link of navLinks' md-button routerLink='{{link.href}}' class='nav' >{{link.text}}</a>
  </div>
  <title-bar-button-group class='flex-end' ></title-bar-button-group>
</div>