
:host {
  position: relative;
  -webkit-box-direction: normal;
  z-index: 10;

  padding-left: 12px;
  padding-right: 12px;

  background-color: hsl(150, 90%, 29%);
  background-image: -webkit-linear-gradient(right, hsl(160, 80%, 20%), hsl(150, 90%, 29%));
  /*background-image: -webkit-linear-gradient(right, hsl(120, 100%, 25%), hsl(150, 90%, 29%));*/
  /*box-shadow: 0px 1px 2px #006600;*/
  border-bottom: 1px solid hsl(210, 100%, 20%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.137255) 0px 6px 10px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 18px 0px;
}

.title-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
}

.title-wrapper {
  width: 245px;
  text-align: center;
}

button.not-mobile {
  /*margin: 16px 0 16px 16px;*/
  margin: 16px 0 16px 0;
  padding: 0 10px 0 0;
  width: auto;
  
  border-style: solid;
  border-color: white;
  border-width: 0 10px 4px 0;
  border-radius: 3px;
  box-shadow: 3px 3px hsl(180, 100%, 10%);
  
  line-height: 28px;
  text-shadow: 3px 3px hsl(180, 100%, 10%);
}

button.mobile {
  /*margin: 16px 0 16px 16px;*/
  margin: 14px 0 14px 0;
  padding: 0 8px 0 0;
  width: auto;

  font-size: 12px;
  
  border-style: solid;
  border-color: white;
  border-width: 0 8px 4px 0;
  border-radius: 3px;
  box-shadow: 3px 3px hsl(180, 100%, 10%);
  
  line-height: 24px;
  text-shadow: 2px 3px hsl(180, 100%, 10%);
}

button.menu {
  color: rgb(243, 243, 243);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

button.title:hover, button.title:focus {
  text-decoration: none;
}

button.title, button.title * {
  font-family: 'Rubik Mono One' !important;
  color: white;
  text-shadow: 3px 3px hsl(180, 100%, 10%);
}

span.title-end {
  font-size: 24px;
}

span.title-end-mobile {
  font-size: 20px;
}

.nav-container-mobile {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  justify-content: space-around;
  /*justify-content: space-between;*/

  padding-bottom: 8px;
}

.nav-container {
  margin: auto;
}

a.nav {
  height: 100%;
  color: hsl(0, 0%, 95%) !important;
  text-decoration: none;
}


a.nav:hover {
  text-decoration: none;
}

.pad-right {
  padding-right: 24px;
}