
.banner-small {
  font-size: .9em;
  padding: 18px 24px;
  margin: 0 0 20px 0;

  background-color: rgba(236, 239, 241, 0.25);
  border-right: 1px solid rgb(236, 239, 241);
  border-bottom: 1px solid rgb(236, 239, 241);
  border-left: 1px solid rgb(236, 239, 241);
}

.tab-content-wrapper:not(.mobile) {
  padding: 0 16px 16px 16px;
}

.tab-content-wrapper.mobile {
  padding: 0 4px 4px 4px;
}