
:host {
  -webkit-box-direction: normal;
}

footer {
  width: 100%;
  -webkit-box-direction: normal;

  color: lightgrey;

  /*border-top: 1px solid hsl(210, 100%, 20%);
  background-color: hsl(150, 90%, 29%);
  background-image: -webkit-linear-gradient(right, hsl(160, 80%, 20%), hsl(150, 90%, 29%));*/

  border-top: 1px solid hsl(150, 90%, 29%);
  background-color: hsl(190, 76%, 15%);
  /*background-color: hsl(158, 76%, 15%);*/

  /*border-top: 1px solid hsl(160, 80%, 20%);
  background-color: hsl(210, 100%, 40%);
  background-image: -webkit-linear-gradient(right, hsl(210, 100%, 20%), hsl(210, 100%, 40%));*/
}

footer:not(.mobile) {
  padding: 40px 40px 20px 40px;
}

footer.mobile {
  padding: 20px 20px 20px 20px;
}

.center {
  align-items: center;
}

.indent:not(.mobile) {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 90%;
  margin: auto;
}