
<div class='panel panel-default' >
  <div class='panel-heading' >
    <h3 class='panel-title' >Sign up</h3>
  </div>
  <div class='panel-body' >

    <form (ngSubmit)='onSubmit()' #signUpForm='ngForm' >

      <md-input-container class='wide' [ngSwitch]='emailVal' >
        <input mdInput placeholder='Email'
          type='email'
          [(ngModel)]=model.email
          name='email'
          required
          #email='ngModel'
          >
        <md-error *ngIf='password.hasError("required")' >This is a required field</md-error>
        <md-error *ngIf='password.hasError("regex")' >Must be a valid email address</md-error>
      </md-input-container>

      <md-input-container class='wide' >
        <input mdInput placeholder='First name'
          [(ngModel)]=model.firstName
          name='firstName'
          #firstName='ngModel'
          >
      </md-input-container>
      
      <md-input-container class='wide' >
        <input mdInput placeholder='Last name'
          [(ngModel)]=model.lastName
          name='lastName'
          #lastName='ngModel'
          >
      </md-input-container>

      <md-input-container class='wide' [ngSwitch]='passwordVal' >
        <input mdInput placeholder='Password'
          type='password'
          [(ngModel)]='model.password' 
          name='password'
          required
          minlength='7'
          #password='ngModel'
          >
        <md-error *ngIf='password.hasError("required")' >This is a required field</md-error>
        <md-error *ngIf='password.hasError("minlength")' >Must have at least 7 characters</md-error>
      </md-input-container>

      <md-input-container class='wide' >
        <input mdInput placeholder='Confirm password'
          type='password'
          [(ngModel)]=model.confirmPassword
          name='confirmPassword'
          required
          minlength='7'
          [attr.password]=password.value
          #confirmPassword='ngModel'
          >
        <md-error *ngIf='confirmPassword.hasError("required")' >This is a required field</md-error>
        <md-error *ngIf='confirmPassword.hasError("minlength")' >Must have at least 7 characters</md-error>
        <md-error *ngIf='confirmPassword.hasError("match")' >Passwords must match</md-error>
      </md-input-container>

      <p *ngIf='serverMsg' class='error'>{{serverMsg}}</p>

      <button md-raised-button color='primary'
          type='submit' 
          class='wide btn-success'>
          Sign up
      </button>

      <div class='question-redir' >
        <span>Already have an account?<a md-button color='accent' routerLink='/signin' >Sign in.</a></span>
      </div>

    </form>

  </div>
</div>

