
.img-container {
  padding-top: 24px;
}

.ani-img {
  max-width: 200px;
  max-height: 600px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}