  
<button md-button
  #toggleButton
  [ngClass]=mobileClass
  color='{{color}}'
  (click)='toggle($event)'
  data-toggle='collapse'
  [attr.data-target]='"#"+targetId'
  [attr.aria-expanded]='expand'
  [attr.aria-controls]='siteList'
  [attr.toggle]='!expand' >
  {{ expand ? collapseText : expandText }}
  <md-icon *ngIf='showIcon && !expand' >add_circle</md-icon>
  <md-icon *ngIf='showIcon && expand' >remove_circle</md-icon>
</button>
<br />
<div class='mobile' [ngClass]='toggleClasses' [id]='targetId'>
  <br *ngIf='breakBeforeTarget' />
  <ng-content></ng-content>
</div>