
a.link-fab {
  margin-right: 4px;
}

a.link-text.mobile {
  margin-top: auto;
  margin-bottom: auto;
  white-space: normal;
  line-height: 18px;
  text-align: left;
}

img {
  position: relative;
  top: -1px;
  padding-right: 4px;
}

.list-container:not(.mobile) {
  padding-left: 16px;
}

.list-container.mobile {
  padding-left: 8px;
}

.list-item {
  padding-bottom: 8px;
}