
<div class='flex-container-row just-cen' >
  <div *ngIf='user?.firstName' class='button-container greeting' >
    <span>Hello, {{ user?.firstName }}</span>
  </div>
  <div *ngIf='user' class='button-container' >
    <button md-icon-button [mdMenuTriggerFor]='menu' >
      <md-icon>menu</md-icon>
    </button>
    <md-menu #menu='mdMenu' x-position='before' [overlapTrigger]='false' >
      <button md-menu-item (click)='clickAccount()' >
        <md-icon>account_circle</md-icon>
        <span>Account</span>
      </button>
      <button md-menu-item disabled (click)='clickUsers()' >
        <md-icon>people</md-icon>
        <span>Users</span>
      </button>
    </md-menu>
  </div>
  <div class='button-container' >
    <button md-raised-button color=primary (click)='signInOrOut()' >{{ user ? 'Sign out' : 'Sign in' }}</button>
  </div>
</div>