
.button-container {
  padding-left: 10px;
  margin: auto;
}

.greeting {
  color: rgb(255, 255, 255);
}

/* copied the mat-button radius for the mb-button 2px */
.mat-icon-button {
  color: rgb(255, 255, 255);;
  /*background-color: rgb(76, 175, 80);*/
  /*border-radius: 10px !important;*/
}