
.banner:not(.mobile) {
  padding: 36px 48px;
  background-color: rgba(236, 239, 241, 0.25);
  border: rgb(236, 239, 241);
  border-width: 0  0 1px 0;
  border-style: solid;
}
.banner.mobile {
  padding: 12px 12px;
  background-color: rgba(236, 239, 241, 0.25);
  border: rgb(236, 239, 241);
  border-width: 0  0 1px 0;
  border-style: solid;
}

.banner:not(.mobile), .banner:not(.mobile) > span {
  font-size: 18px;
  font-weight: 200;
}
.banner.mobile, .banner.mobile > span {
  font-size: 14px;
  font-weight: 200;
}

.doc-content:not(.mobile) >>> {
  font-size: 16px;
  padding: 36px 58px 58px 58px;
  max-width: 1450px;
}
.doc-content.mobile >>> {
  font-size: 13px;
  padding: 16px;
  max-width: 1450px;
}

.doc-content:not(.mobile) >>> blockquote {
  font-size: 15px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 24px;
  border-left-color: #adebad;
  background-color: rgba(236, 239, 241, 0.25);
}
.doc-content.mobile >>> blockquote {
  font-size: 11px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-left-color: #adebad;
  background-color: rgba(236, 239, 241, 0.25);
}

.doc-content:not(.mobile) >>> p {
  line-height: 28px;
  margin-bottom: 20px;
}
.doc-content.mobile >>> p {
  line-height: 22px;
  margin-bottom: 8px;
}

.doc-content:not(.mobile) >>> h1 {
  font-size: 36px;
}
.doc-content.mobile >>> h1 {
  font-size: 20px;
}

.doc-content:not(.mobile) >>> h2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-size: 24px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  padding: 0;
}
.doc-content.mobile >>> h2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 0;
}

.doc-content:not(.mobile) >>> h3 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  /*color: hsl(210, 100%, 20%) !important;*/
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  line-height: 28px;
  padding: 0;
}
.doc-content.mobile >>> h3 {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  /*color: hsl(210, 100%, 20%) !important;*/
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 0;
}

.doc-content:not(.mobile) >>> h1 { margin: 48px 0 16px 0; }
.doc-content:not(.mobile) >>> h2 { margin: 38px 0 16px 0; }
.doc-content.mobile >>> h1 { margin: 14px 0 6px 0; }
.doc-content.mobile >>> h2 { margin: 14px 0 6px 0; }

.doc-content:not(.mobile) >>> h3 { margin: 24px 0 8px 0; }
.doc-content:not(.mobile) >>> h4 { margin: 24px 0 8px 0; }
.doc-content:not(.mobile) >>> h5 { margin: 24px 0 8px 0; }
.doc-content:not(.mobile) >>> h6 { margin: 24px 0 8px 0; }
.doc-content.mobile >>> h3 { margin: 10px 0 4px 0; }
.doc-content.mobile  >>> h4 { margin: 10px 0 4px 0; }
.doc-content.mobile  >>> h5 { margin: 10px 0 4px 0; }
.doc-content.mobile  >>> h6 { margin: 10px 0 4px 0; }

.doc-content >>> h1 { color: hsl(210, 100%, 20%); }
.doc-content >>> h2 { color: hsl(210, 100%, 20%); }
.doc-content >>> h3 { color: hsl(210, 100%, 20%); }
.doc-content >>> h4 { color: hsl(210, 100%, 20%); }
.doc-content >>> h5 { color: hsl(210, 100%, 20%); }
.doc-content >>> h6 { color: hsl(210, 100%, 20%); }
.doc-content >>> .banner { color: hsl(210, 100%, 20%); }


.doc-content >>> h1 { -webkit-font-smoothing: antialiased; }
.doc-content >>> h2 { -webkit-font-smoothing: antialiased; }
.doc-content >>> h3 { -webkit-font-smoothing: antialiased; }
.doc-content >>> h4 { -webkit-font-smoothing: antialiased; }
.doc-content >>> h5 { -webkit-font-smoothing: antialiased; }
.doc-content >>> h6 { -webkit-font-smoothing: antialiased; }
.doc-content >>> p { -webkit-font-smoothing: antialiased; }
.doc-content >>> span { -webkit-font-smoothing: antialiased; }
.doc-content >>> label { -webkit-font-smoothing: antialiased; }
.doc-content >>> blockquote { -webkit-font-smoothing: antialiased; }
.doc-content >>> a { -webkit-font-smoothing: antialiased; }

.doc-content.mobile >>> a.mat-button:not(.toc):not(.anchor) {
  min-height: 20px;
  height: 20px;

  padding: 0 0 0 6px;
  margin: 0;

  font-size: 10px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.doc-content >>>.drop-cap {
  font-size: 20px;
  color: hsl(160, 80%, 20%);
}

.doc-content.mobile >>> ul {
  -webkit-padding-start: 20px;
}

.doc-content >>> ul.toc {
  list-style-type: disc;
  color: hsl(210, 100%, 20%);
}

.doc-content:not(.mobile) >>> ul > li {
  line-height: 28px;
}
.doc-content.mobile >>> ul > li {
  line-height: 22px;
}

.doc-content:not(.mobile) >>> ul.toc > li > a {
  font-size: 20px;
  line-height: 32px;
}
.doc-content.mobile >>> ul.toc > li > a {
  font-size: 16px;
  line-height: 28px;
  padding-left: 6px;
}

.doc-content:not(.mobile) >>> .sections {
  padding-left: 14px;
}
.doc-content.mobile >>> .sections {
  padding-left: 6px;
}